canvas {
    display: block;
    position: absolute;
    top:0;
    left:0;
    width:90vh;
    height:90vh;
    z-index:-6;
    box-sizing: border-box;
}

body, html {
    overflow: hidden;
    }

body {
    position: absolute;
    margin:0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: black;
    font-family: IosevkaTermExtended, monospace;
}
